/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */

@font-face {
  font-family: 'Roboto';
  font-weight: 320;
  src: url('fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 320;
  src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

/* _____________________ basics _____________________ */

nav,
body,
footer {
  background-color: #dddbd6;
}

/* _________________________ Nav __________________________ */

a:link {
  color: #6e6762;
  text-decoration: none;
}
a:visited {
  color: #6e6762;
  text-decoration: none;
}
a:hover {
  color: #6e6762;
  text-decoration: none;
}
a:active {
  color: #6e6762;
  text-decoration: none;
}

.temalinks {
  display: flex;
  justify-content: center;
}

.atema:hover {
  font-size: 21px;
}

.aprojekter {
  margin-top: 10%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
}

header li:hover {
  text-decoration: underline;
}

main ul {
  list-style: none;
}

li {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Playfair Display';
}

.ultema {
  text-align: left;
  font-size: 20px;
  margin-top: 10%;
  margin-bottom: 20%;
  line-height: 3rem;
  width: 335px;
}

.licv {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #6e6762;
  line-height: 35px;
  list-style-type: disc;
}

/* _________________________Overskrifter_____________________ */

.h1forside {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  opacity: 10%;
  margin-top: 3rem;
  font-family: 'Playfair Display';
}

.h2forside {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Playfair Display';
}

.h11,
.h12,
.h13 {
  text-align: left;
  font-size: 200px;
  margin-top: 0;
  line-height: 160px;
  font-family: 'Playfair Display';
}
.h11 {
  letter-spacing: 3px;
}

.h12 {
  letter-spacing: 13px;
}
.h13 {
  letter-spacing: 40px;
}

.h1tema {
  font-size: 80%;
  letter-spacing: 8px;
  color: #b3aca7;
  font-family: 'Roboto', sans-serif;
}

.mainforside {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

h1 {
  color: #6e6762;
  margin-bottom: 0;
  text-align: center;
  /* font-family: 'Playfair Display'; */
}

.h1cv,
.h1ommig {
  text-align: left;
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'Playfair Display';
  color: #5c3d30;
  margin-left: 3%;
  margin-top: 10%;
}

h2 {
  color: #5c3d30;
  text-align: center;
  margin: 0;
  font-family: 'Playfair Display';
}

p {
  font-family: 'Roboto', sans-serif;
  color: #6e6762;
  line-height: 30px;
  font-size: 15px;
  margin: 3%;
}

.pommig {
  margin-left: 0;
}

/* ___________________________ Box ___________________________ */

.boxforside {
  border: 1px solid #5c3d30;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 45%;
}

.cvbox1,
.cvbox2 {
  background-color: white;
  padding: 2%;
  box-shadow: 5px 5px 5px #6e6762;
  border-radius: 2px;
  margin-bottom: 5%;
}

.boxommig {
  margin-bottom: 20%;
}

.opgavebeskrivelser {
  background-color: white;
  margin-top: 2rem;
  padding: 5%;
  /* box-shadow: 5px 5px 5px #6e6762; */
  border-radius: 2px;
  margin-bottom: 5rem;
}

/* __________________________ img _______________________ */

.imgSiff {
  opacity: 100%;
  max-width: 90%;
  box-shadow: 5px 5px 5px #6e6762;
}

.imgopacity {
  max-width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 85%;
  box-shadow: 5px 5px 5px #6e6762;
  border-radius: 2px;
}

.imgopacity:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  opacity: 100%;
}

.pilimg {
  scale: 25%;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* __________________________ Animation ________________________ */

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }
}

.pilimg {
  animation: jump 0.7s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

/* _____________________________________ media 600px __________________________________ */

@media (max-width: 800px) {
  .liommig {
    width: 70px;
  }

  .litemaer,
  .litemaer1 {
    width: 200px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  main {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .h1cv,
  .h1ommig {
    font-size: 35px;
  }

  .imgSiff {
    opacity: 100%;
    max-width: 90%;
    box-shadow: 5px 5px 5px #6e6762;
    /* transform: rotate(12deg); */
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .boxforside {
    left: 25%;
  }

  .temabox {
    margin: 1.2rem;
  }

  .ommiggrid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .imgSiff {
    order: -1;
  }

  .boxommig {
    order: 1;
    margin-bottom: 20%;
  }
}

/* __________________________________media 800px___________________________________ */

@media (min-width: 800px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }

  .h1cv,
  .h1ommig {
    font-size: 50px;
  }

  main {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .imgSiff {
    transform: rotate(12deg);
    margin-top: 0.5rem;
    margin-left: 4rem;
  }

  .litemaer {
    width: 245px;
  }

  /* ___________________ Grid __________________ */

  .ommiggrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .opgavebeskrivelser {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* __________________BOX__________________ */

  .boxforside {
    left: 40%;
  }

  .temabox {
    margin: 5rem;
  }
}
