/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */

@font-face {
  font-family: 'Roboto';
  font-weight: 320;
  src: url('fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 320;
  src: url('fonts/Playfair_Display/');
}

/* __________________________ Overskrifter & fonte ________________________ */

.mainforside {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.h1forside {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  opacity: 10%;
  margin-top: 2.5rem;
}

.h11,
.h12,
.h13 {
  text-align: left;
  font-size: 200px;
  margin-top: 0;
  line-height: 160px;
}
.h11 {
  letter-spacing: 3px;
}

.h12 {
  letter-spacing: 13px;
}
.h13 {
  letter-spacing: 40px;
}

.h2forside {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #6e6762;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Playfair Display';
  /* font-family: 'Roboto', sans-serif; */
}

h2 {
  color: #5c3d30;
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-family: 'Playfair Display';
  /* font-family: 'Roboto', sans-serif; */
}

h3 {
  font-size: 25px;
  font-family: 'Playfair Display';
  color: #5c3d30;
  margin: 3%;
}

p {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  color: #6e6762;
  line-height: 25px;
  margin: 3%;
}

.pommig {
  margin-left: 0;
}

.h1tema {
  font-size: 80%;
  letter-spacing: 8px;
  color: #b3aca7;
}

.h1cv,
.h1ommig {
  text-align: left;
  font-size: 50px;
  margin-bottom: 0.5em;
}

/* ______________________  _________________ */

main {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

nav,
body,
footer {
  background-color: #dddbd6;
}

/* _____________________ Nav/List __________________ */

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
}

header li:hover {
  text-decoration: underline;
}

main ul {
  list-style: none;
}

li {
  font-family: 'Playfair Display';
}

.ultema {
  text-align: left;
  font-size: 20px;
  margin-top: 10%;
  margin-bottom: 20%;
  line-height: 3rem;
  width: 335px;
}

a:link {
  color: #6e6762;
  text-decoration: none;
}
a:visited {
  color: #6e6762;
  text-decoration: none;
}
a:hover {
  color: #6e6762;
  text-decoration: none;
}
a:active {
  color: #6e6762;
  text-decoration: none;
}

.temalinks {
  display: flex;
  justify-content: center;
}

.atema:hover {
  font-size: 21px;
}

.aprojekter {
  margin-top: 10%;
}

.licv {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #6e6762;
  line-height: 35px;
  list-style-type: disc;
}

/* ___________________________ Box ___________________________ */

.cvbox1,
.cvbox2 {
  background-color: white;
  padding: 2%;
  box-shadow: 5px 5px 5px #6e6762;
  border-radius: 2px;
  margin-bottom: 5%;
}

.boxforside {
  border: 1px solid #5c3d30;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 47.5%;
  left: 40%;
  /* grid-column: 1/2;
  justify-self: center; */
}

.boxommig {
  margin-bottom: 20%;
}

.opgavebeskrivelser {
  background-color: white;
  margin-top: 2rem;
  padding: 5%;
  box-shadow: 5px 5px 5px #6e6762;
  border-radius: 2px;
  margin-bottom: 5rem;
}

/* __________________________ img _______________________ */

.imgSiff {
  opacity: 100%;
  max-width: 90%;
  box-shadow: 5px 5px 5px #6e6762;
  transform: rotate(12deg);
  margin-top: 0.5rem;
  margin-left: 4rem;
}

.imgopacity {
  max-width: 100%;
}

.imgopacity {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 30%;
}

.imgopacity:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  opacity: 100%;
}

.pilimg {
  scale: 25%;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ___________________________ Grid ______________________ */

.ommiggrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.opgavebeskrivelser {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ___________________________ animation V _______________ */

.pilimg {
  animation: jump 0.7s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

/* __________________________ Animation ________________________ */

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
